<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label for="" class="mr-2">Filtro</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="changeImgShow()">Imagem</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!imgShow" [isAnimated]="true" src="/assets/{{evento.imagemURL}}"
         alt="" class="src" [style.width.px]="imgWidth"
         [style.margin.px]="imgMargin">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2">Editar</button>
        <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}} -->

<!--
<div *ngFor="let evento of eventos">
  <p>Tema: {{evento.tema}}</p>
  <p>Local: {{evento.local}}</p>
  <hr>
</div>
-->
